<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New question</h1>

  <div class="mt-8">
        <%= render 'shared/validation_errors', :record => @question %>
        <%= render "layouts/shared/flash/notices" %>
    </div>
    <div class="w-1/2">
        <%= form_for [@exercice, @question] do |f| %>

            <%= f.hidden_field :exercice_id, value: @exercice.id %>
                
            <%= f.text_field :content, class:"p-2 rounded-md", placeholder: "> le contenu" %>
            <!-- render questions -->
            <%= render 'answer_fields', :f => f %>
            <div class="mt-4">
                <%= f.text_area :explain_answer, class:"p-2 rounded-md", placeholder: "> l'explications ..." %>
            </div>
                      
            <div class="">
                <%= f.submit "Question Suivante", class:"bg-blue-200 p-2 rounded-md my-8" %>
            </div>
        <% end %>
    </div>
    
    <div class="w-1/2">
        <div class="questions-column mt-8">
            <%= button_to "Rendre public!", [:publish, @exercice], class: "publish" %>
            <% if @exercice.questions.any? %>
                <%= render 'added_questions', record: @exercice %>
            <% else %>
                <p>Ajouter les questions!</p>
            <% end %>
        </div>
    </div>

  <%= link_to 'Back to questions', questions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>

